#include <dt-bindings/zmk/matrix_transform.h>

/ {
	chosen {
		zmk,kscan = &default_kscan;
		zmk,matrix_transform = &default_transform;
	};

	default_kscan: kscan0 {
		compatible = "zmk,kscan-gpio-direct";
		wakeup-source;

		input-gpios
		//left side
		// = <&gpio0 6  (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>// D1   P0.06  // left - encoder A  |  right - trackpoint SDA
		// , <&gpio0 8  (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>// D0   P0.08  // left - encoder B  |  right - trackpoint SCL
		= <&gpio0 17 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>// D2   P0.17
		, <&gpio0 20 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>// D3   P0.20
		, <&gpio0 22 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>// D4   P0.22
		, <&gpio0 24 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>// D5   P0.24
		, <&gpio1 0  (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>// D6   P1.00
		, <&gpio0 11 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>// D7   P0.11
		, <&gpio1 4  (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>// D8   P1.04
		, <&gpio1 6  (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>// D9   P1.06

		//right side
		, <&gpio0 31 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>// D21  P0.31
		, <&gpio0 29 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>// D20  P0.29
		, <&gpio0 2  (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>// D19  P0.02
		, <&gpio1 15 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>// D18  P1.15
		, <&gpio1 13 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>// D15  P1.13
		, <&gpio1 11 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>// D14  P1.11
		, <&gpio0 10 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>// D16  P0.10
		, <&gpio0 9  (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>// D10  P0.09

		//additional pins
		, <&gpio1 1  (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>//      P1.01
		, <&gpio1 2  (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>//      P1.02
		, <&gpio1 7  (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>//      P1.07
		;
	};

	default_transform: keymap_transform_0 {
		compatible = "zmk,matrix-transform";
		columns = <38>;
		rows = <1>;
		map = <
										RC(0,0)   RC(0,1)   RC(0,2)   RC(0,3)					RC(0,19)  RC(0,20)  RC(0,21)  RC(0,22)
RC(0,4)   RC(0,5)   RC(0,6)   RC(0,7)   RC(0,8)		RC(0,9)   			RC(0,23)  RC(0,24)  RC(0,25)  RC(0,26)  RC(0,27) 	RC(0,28)
RC(0,10)  RC(0,11)  RC(0,12)  RC(0,13)  RC(0,14)  RC(0,15)				RC(0,29)  RC(0,30)  RC(0,31)  RC(0,32)  RC(0,33)  RC(0,34)
															RC(0,16)  RC(0,17)  RC(0,18)				RC(0,35)  RC(0,36)  RC(0,37)
		>;
	};

	left_encoder: encoder_0 {
		compatible = "alps,ec11";
		// resolution = <4>;
		a-gpios = <&gpio0 6 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
		b-gpios = <&gpio0 8 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
		steps = <24>;
		status = "disabled";
	};

	sensors {
		compatible = "zmk,keymap-sensors";
		sensors = <&left_encoder>;
		triggers-per-rotation = <48>;
	};
};
